

@media screen and (min-width: 992px) { /*all desktop devices*/

    .imgCol {

        margin-right: -40px;

    }
    
    .sectionTitleDiv:hover a {
			
		color: #ff7200;
		
    }

    .titleContainer a:hover {

        text-decoration: underline;

    }

}

@media screen and (min-width: 768px) { /*all desktop devices and Tablets*/

    .leftColumn {

        border-right: 1px solid black;

    }
    
}

@media screen and (max-width: 767px) { /*all smartphones */

    .leftColumn {
        
        margin: 0;
        padding: 0;

    }
    
}

@media screen and (max-width: 991px) { /*all mobile devices (tablets included)*/
    
}

.sectionTitleDiv {
    
    display:flex;
    flex-direction:row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background:black;
    border-bottom: 3px solid #ff7200;
    
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
    
}

.sectionHr{

	color:white;

}

.titleReleased {
    

    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    
}

.sectionTitle {
    
    color:  white;
    display: table-cell;
	vertical-align: middle;
    
}

.sectionTitle h4 {
	
    font-family: "moon", sans-serif;
	
}

.sectionTitleDiv a:visited, .sectionTitleDiv a {

    text-decoration: none;
    outline:none;
    color:  white;

}

.sectionTitleDiv a:focus { /*overriding default link color*/ 
    
    color: white;
    
}

.cvCollapsable .row {
    
    padding: 15px 0;
    
}
    
.leftColumn {
    
    color: #ff7200;

}

.titleContainer a {
    
    color:#ff7200;
    
}

.titleContainer a:focus {
    
    text-decoration:underline;
    
}

.certificateIcon {
    
    margin-right: 8px;
    
}

.certificateListIcon {
    
    color:red;
    
}

.cvEduList {
    
    max-width: 350px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    
}

.cvEduList a {

	color: #707070;

}

.cvEduList a:focus, .cvEduList a:hover {

	text-decoration: underline;

}

.cvEduList li:nth-child(odd) {
	
	background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 1%, rgba(242,242,242,0.86) 65%, rgba(242,242,242,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 1%,rgba(242,242,242,0.86) 65%,rgba(242,242,242,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 1%,rgba(242,242,242,0.86) 65%,rgba(242,242,242,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00f2f2f2',GradientType=1 ); /* IE6-9 */
	
}

.cvEduList li:nth-child(even) {

	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.86) 65%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.86) 65%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.86) 65%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	
}

.cvTableRow{
    
    margin-top: 30px;
    
}

.cvCollapsable{
    
    padding-bottom: 20px;
    
}

.cvTable th{
    
    width: 710px;
    
}

.cvTable th{
    
    text-align: center;
    vertical-align: middle;
    color: #ff7200;
    border: 1px solid black;
    
}

.cvTable td{
    
    border-bottom: black solid 1px;
    
}

table tr td:first-child, table tr th:first-child {
    
    border-left: 0;
    
}

table tr td:last-child, table tr th:last-child {
    
    border-right: 0;
    
}

.licenseRow {
    
    margin-top:10px;
    
}

.cvTable td {
    
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-color: black;
    text-align: center;
    vertical-align: middle;
    
}