#exeContainer {
	
	border: 1px solid lightgray;
	border-radius: 5px;
	
}

#exeContainer .singleExeContainer:nth-child(odd) {
	
	background-color: #f2f2f2;
	
}

.exeFilesList li:nth-child(odd) {
	
	background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 1%, rgba(242,242,242,0.86) 65%, rgba(242,242,242,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 1%,rgba(242,242,242,0.86) 65%,rgba(242,242,242,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 1%,rgba(242,242,242,0.86) 65%,rgba(242,242,242,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00f2f2f2',GradientType=1 ); /* IE6-9 */
	
}

.exeFilesList li:nth-child(even) {

	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.86) 65%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.86) 65%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.86) 65%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	
}

.exeTitle a {
    
    color:#ff7200;
    
}

.exeTitle a:focus, .exeTitle a:hover {
    
    text-decoration:underline;
    
}

.exeLang h6 {
	
	line-height: 150%;
	
}


.fa-file-pdf-o {
    
    color: red;
    
}


.fa-file-image-o {
    
    color: #ffc700;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

.exeFilesList {
    
    max-width: 230px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    
}

.exeFilesList a {

	color: #707070;

}

.exeFilesList a:focus, .exeFilesList a:hover {

	text-decoration: underline;

}