/*---------- Timeline CSS ------------*/

#timeline {
	
	height: 350px;
	overflow-y: hidden;
	
}

#tlError {
	
	display: none;
	
}

#tlDiv {
	
	border: 1px solid black;
	
}

#slidingBar .slider-track-high {
	
	background: lightgrey;
	
}

#slidingBar .slider-track-low {
	
	background: lightgrey;
	
}

#slidingBar .slider-selection {
	
	background: #ff7200;
	
}

#slidingBar {
	
    width: 100% !important;
	
}

.slider-handle.custom::before {
	
	line-height: 20px;
	font-size: 30px;
	content: "\f111";
    font-family: FontAwesome;
	color: #3d3d3d;
	
}

.orangeRow {
	
	padding: 5px;
    width: 100% !important;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,248,242,0) 1%, rgba(255,151,67,1) 14%, rgba(255,114,0,1) 19%, rgba(255,114,0,1) 49%, rgba(255,114,0,1) 50%, rgba(255,114,0,1) 77%, rgba(255,163,89,1) 85%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,248,242,0) 1%,rgba(255,151,67,1) 14%,rgba(255,114,0,1) 19%,rgba(255,114,0,1) 49%,rgba(255,114,0,1) 50%,rgba(255,114,0,1) 77%,rgba(255,163,89,1) 85%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,248,242,0) 1%,rgba(255,151,67,1) 14%,rgba(255,114,0,1) 19%,rgba(255,114,0,1) 49%,rgba(255,114,0,1) 50%,rgba(255,114,0,1) 77%,rgba(255,163,89,1) 85%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	
}

#tlValues {
	
	font-size: 26px;
	padding: 0 10px;
	margin: 0;
	color: white;
	
}

#redraw {
	
	font-size: 20px;
	padding: 0 10px;
	margin: 0;
	cursor: pointer;
	
}

.orangeRow div:first-child {
	
	border: 1px solid black;
	
}